@model IEnumerable<LogBook.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "RoleAddToUser", "Account") 
        </td>
    </tr>
}

</table>
