body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.DayWidth {
    width: 140px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.input-group-custom-left .form-control {
    /*display: inline-block;*/
    display: inline-block;
    width: 105px;
    /*float: left; */
    margin: 1em;
    margin-left: 1%;
}

.LogBookLogo {
    height: 50px;
}

.bg-dark {
    background-color: #405491 !important;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #b5c4e3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.alternatingRow {
    background-color: whitesmoke;
}

.logEntry {
    min-width: 525px
}

.locationSearch {
    max-width: 125px;
}
